#navbar-search-bar {
    width: 50rem;
}

@media screen and (max-width: 1280px) { /*ipad dikey */



}

@media screen and (max-width: 768px) {
    #navbar-search-bar {
        width: auto;
    }


    #message-button {
        margin-top: 1rem;
    }
}

