@media screen and (max-width: 1280px) { /*ipad dikey */



}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 50%;
    }

    .lead-text {
        width: 80%;
    }

    .main {
        margin-top: 0;
    }

    .main-content ul {
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        max-width: 40%;
    }

    .bg-green {
        padding: 0.5rem;
    }

    .navbar-link{
        font-size: 1.3rem;
        padding: 0 1rem;
    }
    .main-content-login {
        width: 90%;
        margin: 0 auto;
    }
    
    .form-two-column {
        flex-direction: column;
    }
    
    .login-google a {
        font-size: 1rem;
    }

    .login-facebook a {
        font-size: 1rem;
    }

    .submit-button {
        font-size: 1rem;
    }

    .no-account {
        font-size: 1rem;
    }
}