* {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}


#header-search-bar:hover {
    color: black;
    background-color: blue;
} 


#navbar-search-bar-button:hover {
    opacity: 0.8;   
}
#mobile-navbar {
    display: none;
}